body {
  background-color: black;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.endgame {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin: 20px;
  color:  white;
  height: 40px;
}

.container {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 450;
  float: none;
  cursor: default;
}

table {
  border-color: grey;
  background-color: grey;
}

td {
  border-style: solid;
  border-color: #fcfcfc;
  border-width: 4px;
  background-color: #fcfcfc;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  text-align: center;
}

[class *= "hidden"] {
  background-color: grey;
  color: transparent;
  white-space: nowrap;
  overflow: hidden;
  border-style: outset;
}

  .flag {
    color: black;
  }

  .newgame {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;

  }
